.ticket-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 55%;
  font-weight: 700;
  text-align: center;
  width: 6vw;
}

.ticket-container:hover {
  transform: scale(1.03)
}

.user-ticket-data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-ticket-data > span {
  margin: 10px 0px 0px 0px;
}

.user-ticket-data > img {
  max-height: 5vh;
}

.follow-user > button {
  font-size: 1.2vh;
  color:#0575E6;

  height: 4.5vh;
  border: none;
}

.follow-user > button:hover {
  text-decoration: underline;
}
