.user-profile-container {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15vw;
}

.user-profile-container > img {
  max-height: 12vh;
  margin: 10px;
}

.user-profile-lists {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

.user-profile-lists > button {
	margin: 0.5vh 0;
  border: none;
  font-size: 1.7vh;
  border-radius: 3px;
  width: 80%;
  height: 4vh;
  text-align: left;
  padding-left: 10px ;
  box-shadow: 30px 30px 50px -30px #0575E6;  
}

.user-profile-data-header > span > button,
.create-list > button {
  margin: 5px;
  font-size: 1.5vh;
  color:#0575E6;
}

.user-profile-data-header > span > button,
.create-list > button {
  height: 3vh;
  padding: 0 1vw;
  border: none;
}

.user-profile-lists > button:hover {
  border-radius: 5px;
  border: 1.3px solid #29B3FF;
  transform: scale(1.01)
}

.create-list > button:hover,
.user-profile-data-header > span > button:hover {
  text-decoration: underline;
}

.user-profile-lists > div > input {  
  border: 0.2px solid #29B3FF;
  opacity: 0.9;
  border-radius: 10px;
  padding: 5px 15px;
  outline: none;
  width: 80%;
  height: 1.5vh;
  box-shadow: 15px 15px 50px -30px #0575E6;
  font-size: 1.3vh;
}
  
.user-profile-lists > div > input::placeholder{
  color: white;
  opacity: 0.7;
}

.create-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-followers-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-start;

  margin-top: 12px;
}
