.feed-contatiner {
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
}

.feed-comments {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-comments > div {
  width: 30%;
}