.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  font-size: 2.2vh;

  height: 10vh;

  background: linear-gradient(#fffc00,#ffffff);
}

.left-container > input,
.left-container > select
 {
  width: 25vw;
  margin: 0 0 0 0.5vw;
  padding: 0.7vw;

  border: 2px solid #FFFDE4;
  border-radius: 5px;
}

.left-container > select
 {
  width: 7vw;
  margin: 0 0.5vw 0 0;
}

.left-container > button {
  background-color: #0575E6;
  font-weight: 750;
  color: white;

  width: 7vw;
  height: 3.5vh;

  border: 2px solid #FFFDE4;
  border-radius: 5px;

  transition: transform 200ms ease;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-container {
  margin-left: 3vw;
  font-size: 3vh;
}

.right-container {
  margin-right: 3vw;
}

.left-container > a,
.right-container > a
 {
  margin: 0.5vw;
  padding: 0.7vw;
  text-decoration: none;

  color:#0575E6;
  font-weight: 600; 

  height: 3vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-container > button:hover,
.left-container > a:hover,
.right-container > a:hover {
  color:#1565C0;
}

.right-container > a > img
 {
  max-height: 100%
}