.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  height: 7vh;
  background: #29B3FF;
  border-radius: 0px 0px 3px 3px;
}

.left-container > input,
.left-container > select
 {
  width: 20vw;
  height: 4vh;
  margin: 0 0 0 0.5vw;
  padding: 0.7vw;
  border: none;
  border-radius: 5px 0px 0px 5px;
  outline: none;
  opacity: 0.9;
}

.left-container > select
 {
  width: 7vw;
  margin: 0 0.5vw 0 0;
  padding: 0;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  color: grey
} 

.left-container > button {
  background-color: #FFD774;
  font-weight: 750;
  color: white;

  width: 7vw;
  height: 3.5vh;

  border: none;
  border-radius: 5px;

  transition: transform 200ms ease;
}

.left-container > img {
  height: 15vh;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-container {
  margin-left: 3vw;
  font-size: 3vh;
}

.right-container {
  margin-right: 3vw;
}

.left-container > a,
.right-container > a
 {
  margin: 0.5vw;
  padding: 0.7vw;
  text-decoration: none;

  color:#0575E6;
  font-weight: 600; 

  height: 3vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-container > button:hover,
.left-container > a:hover,
.right-container > a:hover {
  color:#FBC00E;
}

.right-container >  img
 {
  height: 10vh;
}