.comment-card {
  display: flex;
  align-items: center;
  border: 1.3px solid #29B3FF;
  width: 75%;
  height: 7.5vh;
  font-size: 1.7vh;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 30px 30px 50px -30px #0575E6;
}

.comment-card:hover {
  transform: scale(1.01)
}

.comment-card > img {
  margin-right: 25px;  
}

.comment-card > button {
  margin: 5px;
  font-size: 1.5vh;
  color:rgba(255, 0, 0, 0.404);
  height: 3vh;
  padding: 0 1vw;
  border: none;
}

.comment-card > button:hover {
  text-decoration: underline;
}

.comment-card > span {
  margin-left: 10px;
}